/*csslint ids: false, universal-selector: false, box-sizing: false, box-model: false, unique-headings: false*/


/*UNIVERSAL SELECTOR*/

* {
    box-sizing: border-box;
}


/***********************************************
GENERAL
***********************************************/

body {
    font-family: 'MedievalSharp', sans-serif;
    line-height: 1.5;
    margin: 0;
}

.main-header {
    /*background-image: url('../img/.jpg');*/
    /*background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
    /*background-image: linear-gradient(#ffa949, firebrick);*/
    background: linear-gradient(Blue, transparent 90%), linear-gradient(0deg, #fff, transparent), #ffa949 url('../img/Dragon.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
}

.main-header,
.title {
    text-align: center;
}

.title {
    /*To change font-size from px to em. Do this simple equation.
    Whatever the desired pixel is / 16.
    26px/16px = 
    */
    border-bottom: 2px solid;
    color: white;
    font-size: 1.625em;
    font-weight: 200;
    letter-spacing: .065em;
    padding-bottom: 10px;
}

.primary-content {
    padding-bottom: 95px;
    text-align: center;
}

.secondary-content {
    border-bottom: 2px solid #1aff1a;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content,
.secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
}

.t-border {
    border-top: 2px solid green;
}


/*ul li {
    margin-bottom: 5px;
}*/

ul,
ol {
    margin-left: 30px;
}

li {
    margin-bottom: 10px;
}

.arrow {
    margin-top: 150px;
    width: 100px;
    height: 50px;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.wildlife {
    /*padding-top: 100px;
 padding-right: 120px;
 padding-bottom: 100px;
 padding-left: 120px;*/
    /*border-color: #ffa949;
    border-style: solid;
    border-width: 10px 20px;
    /* two values first is for top and bottom. 2nd is for left and right. */
    background-image: url('../img/Island.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border-top: 10px solid #1aff1a;
    box-shadow: inset 0 0 50px 20px rgba(0, 0, 0, .8);
    /*Box Shadows: 1st value is horizontal. 2nd value is vertical. 3rd value is blur. 4th value is spread-radius.*/
    /* When 3 values. First one is the top. Second one is left and right. Third one is bottom. */
    margin: 105px 0 60px;
    padding: 18% 24%;
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

#main-footer {
    border-bottom: solid 10px blue;
    padding-bottom: 60px;
    padding-top: 60px;
}


/***********************************************
HEADLINE ELEMENTS & P ELEMENTS
***********************************************/

h1 {
    /*90px/16px*/
    /*Text Shadows: 1st value is horizontal offset. 2nd value is vertical offset. 3rd value is blur. 4th value is of the color of the shadow.*/
    color: white;
    font-family: 'MedievalSharp', cursive;
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    margin: 12px 0 0;
    text-shadow: 0 15px 1px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}

h2 {
    color: lawngreen;
    font-family: 'MedievalSharp', cursive;
    font-size: 53px;
    font-weight: normal;
    margin-bottom: .5em;
    /* 26px/53px */
    text-decoration: underline;
}

h3 {
    color: gray;
    font-family: 'MedievalSharp', cursive;
    font-size: 20px;
    /* 34px/20px */
    margin-bottom: 1.7em;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}


/***********************************************
FLOATS COLUMNS
***********************************************/

.Coins,
.tips {
    width: 35.5%;
}

.Coins {
    float: left;
}

.tips {
    float: right;
}

.group:after {
    clear: both;
    content: "";
    display: table;
}


/***********************************************
COLORS
***********************************************/

body {
    color: gray;
}

.title {
    color: white;
}

.main-header {
    background-color: #1aff1a;
}

.wildlife {
    background-color: #1a1aff;
    color: white;
}


/*CSS PSUEDO CLASS*/

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: lightgreen;
}

a:hover {
    color: forestgreen;
}

a:active {
    color: lawngreen;
}

a:focus {
    background-color: blue;
    color: white;
}


/***********************************************
MEDIA QUERIES
***********************************************/

@media (max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    .wildlife {
        margin: 50% 0 20px;
        padding: 10% 12%;
    }
}

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
        border-top: none;
        padding: 20px;
        width: 100%;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        border: none;
        font-size: 1.3rem;
    }
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
    .arrow {
        max-height: 500px;
        max-width: 500;
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .resorts,
    .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 3rem;
    }
}

.button-collapse {
    color: dodgerblue;
}